/* General Rules */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Overpass;
}

p {
    text-align: center;
}

li {
    list-style-type: none;
    padding-top: 5px;
    font-size: 1.5rem;
}

.section-head {
    font-size: 3rem;
    text-transform: uppercase;
}

/* Navbar */

nav {
    background-color: #2a2c37;
}

#navbarContent a {
    font-size: 1.2rem;
    color: white;
    padding: 0px 50px 0px 0px;
}

#navbarContent a:hover {
    color: #34b6ff;
}

/* Home Section */

#home {
    background-color: #2a2c37;
    height: 900px;
}

.prof-pic {
    height: 250px;
    border-radius: 50%;
    border: 7px solid #244e72;
    animation-name: home-load;
    animation-duration: 2s;
}

#intro {
    color: white;
    font-size: 2.5rem;
    padding-top: 55px;
    animation-name: home-load;
    animation-duration: 2s;
}

.color-txt {
    animation-name: color-change;
    animation-duration: 3s;
    color: #34b6ff;
}

/* About Section */

#about {
    padding: 50px 0 50px 0;
}

.abt-blurb {
    font-size: 1.5rem;
}

.my-icon {
    font-size: 2rem;
}

#hobbies, #tech {
    text-align: center;
    padding-top: 25px;
}

/* Project Section */

#projects {
    background-color: #2a2c37;
    color: white;
    padding: 50px 0 50px 0;
}

/* Contact Section */

#contact {
    padding-top: 50px;
}

.media-icons {
    padding: 25px 0 25px 0;
}

.social-media {
    font-size: 4rem;
    color: black;
}

.social-media:hover {
    color: #34b6ff;
}

/* Animations */
@keyframes home-load {
    0% {
        margin-top: 200px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes color-change {
    0% {
        color: white;
    }
    50% {
        color: white;
    }
    100% {
        color: #34b6ff;
    }
}