#home {
    background-color: #2a2c37;
    height: 900px;
}

.prof-pic {
    height: 200px;
    border-radius: 50%;
}

#intro {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 55px;
}

#hi, #name {
    color: #34b6ff;
}