/* General Rules */

body {
    font-family: Overpass;
}

p {
    text-align: center;
}

li {
    list-style-type: none;
    padding-top: 5px;
    font-size: 1.5rem;
}

.section-head {
    font-size: 3rem;
    text-transform: uppercase;
}

/* Home Section */

#home {
    background-color: #2a2c37;
    height: 900px;
}

.prof-pic {
    height: 250px;
    border-radius: 50%;
}

#intro {
    color: white;
    font-size: 2.5rem;
    padding-top: 55px;
}

#hi, #name {
    color: #34b6ff;
}

/* About Section */

#about {
    padding: 50px 0 50px 0;
}

.abt-blurb {
    font-size: 1.5rem;
}

#hobbies, #tech {
    text-align: center;
}

/* Project Section */

#projects {
    background-color: #2a2c37;
    color: white;
    padding: 50px 0 50px 0;
}